.chat-input {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: white;
  margin-bottom: 50px;
}
.text-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.send-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
